.intro {
  background-color: #0C0F15;

  .container {
    position: relative;
    padding-top: 290px;
    padding-bottom: 260px;

    @media(max-width: 1400px) {
      padding-top: 150px;
      padding-bottom: 110px;
    }
    @media(max-width: 767px){
      padding-bottom: 150px;
    }
  }

  &Title {
    color: #fff;
    max-width: 585px;
    font-size: 58px;
    line-height: normal;
    position: relative;
    z-index: 1;

    @media(max-width: 1400px) {
      font-size: 32px;
      max-width: 518px;
    }

    span {
      color: #367ADF;
    }
  }

  &Descr {
    margin-top: 24px;
    margin-bottom: 24px;
    color: #fff;
    max-width: 490px;
    position: relative;
    z-index: 1;
    @media(max-width: 991px){
      max-width: 306px;
    }
  }

  &Image {
    position: absolute;
    right: -150px;
    top: 30px;
    width: 1375px;
    height: 850px;

    @media(max-width: 1400px) { 
      width: 744px;
      bottom: 0;
      top: unset;
      right: 0;
      -o-object-fit: contain;
         object-fit: contain;
      height: auto;  
    }
    @media(max-width: 767px){
      width: 440px;      
    }
  }

  &Round {
    position: absolute;
    left: -300px;
    top: 0;
    width: 730px;
    @media(max-width: 1400px){
      width: 480px;
      left: -223px;
    }
    @media(max-width: 575px){
      left: -140px;
    }
  }
}