.service {
  &Table {
    margin-top: 80px;
    position: relative;

    @media(max-width: 1400px) {
      margin-top: 60px;
    }
    @media(max-width: 767px){
      margin-top: 40px;
    }

    &::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: rgba($color: #fff, $alpha: .08);
      border-radius: 15px;
    }

    &Head {
      border-radius: 50px;
      background: #367ADF;
      .serviceTableRow {
        @media(max-width: 767px){
          align-items: center;
        }
      }

      .serviceTableCol {
        font-size: 22px;
        font-weight: 600;
        line-height: normal;
        color: #fff;

        @media(max-width: 1400px) {
          font-size: 16px;
        }

        @media(max-width: 991px) {
          font-weight: 500;
        }

        @media(max-width: 575px) {
          font-size: 11px;
        }
      }
    }

    &Body {
      margin-top: 12px;
      padding-bottom: 39px;
      background: #F7F7F7;
      border-radius: 37px;
      padding-top: 20px;

      @media(max-width: 575px) {
        margin-top: 10px;
        padding-bottom: 20px;
      }

      .serviceTableCol {
        font-weight: 400;
        line-height: normal;
        max-width: 360px;
        font-size: 20px;

        @media(max-width: 1400px) {
          font-size: 16px;
        }

        @media(max-width: 991px) {
          font-weight: 500;
        }

        @media(max-width: 575px) {
          font-size: 11px;
        }

        &:first-child {
          color: #1A1A1A;        
        }

        &:not(:first-child) {
          border-left: 3px solid rgba(215, 215, 215, 0.20);
          color: #367ADF;
          font-weight: 600;   

          @media(max-width: 575px) {
            border-left: 1px solid rgba(215, 215, 215, 0.20);
          }
        }
      }
    }

    &Row {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
    }

    &Col {
      padding-left: 26px;
      padding-right: 26px;
      grid-column: 4 span;
      padding-top: 17px;
      padding-bottom: 17px;

      @media(max-width: 1400px) {
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 12px;
        padding-bottom: 12px;
      }

      @media(max-width: 575px) {
        padding-left: 10px;
        padding-right: 10px;
      }
    }
  }

  .tableDescr {
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 38px;

    @media(max-width: 1400px) {
      font-size: 16px;
    }

    @media(max-width: 767px) {
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }
}